.row.content {height: 1500px}
.sidenav {
    background-color: #f1f1f1;
    height: 50%;
    margin-top:10px;
  }

.render{
display: inline-block;
background-color: rgb(67.8%,84.7%,90.2%);
height:100%;
width: 50%;
position: relative;
padding-left:10px ;
margin-left:100px;
margin-top:10px;
border-radius: 5px;
}